body {
  font-family: "Lucida Console", "Courier New", monospace;
}

input {
  text-align: center;
  width: 100;
  padding: 12px 20px;
  margin: 10px 8px;
  border: 2px solid lightblue;
  border-radius: 4px;
}

label {
  font-size: 30px;
}

input[type=text] {
    -webkit-transition: width 2.9s ease-in-out;
    transition: width 2.9s ease-in-out;
}

input[type=text]:focus {
    width: 20%;
}

table {
  margin: 30px 2px;
}

th {
  padding: 12px 50px;
  text-align: left;
}

button {
    background-color: lightblue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
